.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--background-dark);
  padding: 1rem 2rem;
}

.brandTitle {
  font-size: 2.5rem;
  font-weight: bold;
  user-select: none;
}

.odin {
  color: var(--text-light);
}

.buyGradient {
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navLinks {
  display: flex;
  gap: 1rem;
}

.navLinks a {
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--text-light);
  transition: color 0.2s ease-in;
}

.navLinks a:hover {
  color: var(--primary-color);
}

a.activeLink {
  color: var(--primary-color);
}

.cartIcon {
  color: white;
  height: 100%;
  width: 32px;
}

/* Add a dynamic data number for amount of items in cart */
.cartIconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
}

.cartIconWrapper:hover {
  transform: scale(1.1) rotate(2deg);
}

.cartIconWrapper::before {
  content: attr(data-count);
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 999px;
  min-width: 20px;
  text-align: center;
}

